/* line 5, ../sass/style.scss */
body {
  background-color: #cccccc;
  padding: 20px;
  font-family: 'Actor' , sans-serif;
}
/* line 10, ../sass/style.scss */
body header {
  background-color: #003366;
  padding: 15px 25px;
}
/* line 14, ../sass/style.scss */
body header h1 {
  font-size: 40px;
  color: #cccccc;
}

/* line 20, ../sass/style.scss */
.cols {
  width: 50%;
  display: inline;
  padding: 0px;
  margin: 0px;
}

/* line 27, ../sass/style.scss */
.colleagues {
  @extends cols;
  float: right;
}

/* line 31, ../sass/style.scss */
.myinfo {
  @extends cols;
  float: left;
}

/* line 38, ../sass/style.scss */
.card {
  background-color: #336699;
  overflow: hidden;
}
/* line 43, ../sass/style.scss */
.card img {
  width: 200px;
  height: 200px;
  float: left;
  padding: 30px;
}
/* line 50, ../sass/style.scss */
.card h1 {
  color: background-heading;
  font-size: 35px;
}
/* line 57, ../sass/style.scss */
.card footer {
  clear: both;
}
