$background-heading: #ccc;
$text-color: #036;
$card-color: #369;

body{
	background-color: $background-heading;
	padding: 20px;
	font-family: 'Actor' , sans-serif;

	header{
		background-color: $text-color;
		padding: 15px 25px;

		h1{
			font-size: 40px;
			color: $background-heading;
		}
	}
}
.cols {
	width: 50%;
	display: inline;
	padding: 0px;
	margin: 0px;
}

.colleagues{
	@extends cols;
	float: right;
}
.myinfo{
	@extends cols;
	float: left
}

// information card 

.card {
	background-color: $card-color;
	
	overflow: hidden;

	img {
		width: 200px;
		height: 200px;
		float: left;
		padding: 30px;
		}
	
	h1{
		color: background-heading;
		font-size: 35px;
	}


// footer 
footer{
	clear: both;
}
}
