@import 'buttons';
@import 'infocard';
@import 'backgroundinfo';

$background-heading: #ccc;
$text-color: #036;
$card-color: #369;
$link-color: #d5a725;
$small-text: 25px;

body{
	background-color: $background-heading;	
	font-family: 'Actor' , sans-serif;
	padding: 20px;
	
	header{
		background-color: $text-color;
		padding: 15px 25px;

		h1{
			font-size: 40px;
			color: $background-heading;
		}
	}
}
.colleagues, .myinfo {
	width: 50%;
	display: inline;
	padding: 0px;	
	margin-bottom: 0px;	
	margin-top: 10px;
	float: right;
	list-style: none;
}
.myinfo{
	@extend .colleagues;
	float: left;
}

footer{
	clear: both;
	background: $text-color;
	color: $background-heading;
	padding: 15px;
	text-align: right;	

}

